.env
data/
logs/
__pycache__/
.uv-cache/
*.py[cod]
*.log
*.sqlite
*.db

world/
world_nether/
world_the_end/
plugins/*/config.yml
whitelist.json
ops.json
banned-players.json
banned-ips.json
usercache.json